/*
 * Globals
 */

/* Color */

.black{
    color: black;
}

.white{
    color: white;
}

.red{
    color: #e51c23;
}

.yellow{
    color: #000000;
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #ffffff;
}

body {
    color: #fff;
}

.one-rem{padding-top: 1rem !important;}
.two-rem{padding-top: 2rem !important;}
.three-rem{padding-top: 3rem !important;}
.four-rem{padding-top: 4rem !important;}

/*
 * Header
 */

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/*
 * rasp
 */

.rasp {
    padding: 0 1.5rem;
}

.rasp-container-heading {
    max-width: 42em;
}

.rasp-alert {
    max-width: 87.8em;
}

/*
 * Footer
 */

.footer_rasp {
    color: rgba(255, 255, 255, .5);
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(34, 34, 34);
    border-bottom: 0 solid transparent;
}
.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    color: white;
    text-align: center;
}

/*
 * Animations
 */

.animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.animate-input{transition:width 0.4s ease-in-out}.animate-input:focus{width:100%!important}
.opacity,.hover-opacity:hover{opacity:0.60}.opacity-off,.hover-opacity-off:hover{opacity:1}
.opacity-max{opacity:0.25}.opacity-min{opacity:0.75}

/*
 * Alerts
 */

.alert-danger-outline {
    color: black;
    background: transparent;
    border: 0.05rem solid black;
    transition:.4s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.alert-danger-outline:hover {
    color: white;
    background: #e51c23;
    border: 0.05rem solid white;
    transition:.4s;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.4);
}